@font-face {
	font-family: ucFont;
	src: url(../fonts/TrajanPro-Bold.ttf);
}

#logintitle,
#logintitle > h3 {
	font-family: ucFont;
	font-size: 23px;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 3%
}

#login {
	line-height: 0;
	height: 40px;
}

@media (min-width: 768px) {
	.sidebar-nav {
		position: fixed;
		top: 51px;
		left: 225px;
		width: 225px;
		margin-left: -225px;
		overflow-y: auto;
		overflow-x: hidden;
		bottom: 0;
		padding-bottom: 40px;
	}

	.sidebar-nav > li > a {
		width: 225px;
	}
}

.top-nav {
	padding: 0 15px;
}

.sidebar-nav li {
	border-bottom: 1px solid #E7E7E7;
}