@font-face {
	font-family: ucFont;
	src: url(../fonts/TrajanPro-Bold.ttf);
}

#logintitle,
#logintitle > h3 {
	font-family: ucFont;
	font-size: 23px;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 3%
}

#login {
	line-height: 0;
	height: 40px;
}

.top-nav {
	padding: 0 15px;
}

.top-nav > li > a {
	padding: 15px 15px;
}

.sidebar-nav {
	border-right: 1px solid #E7E7E7;
	background-color: #F8F8F8;
}

#page-wrapper {
	position: inherit;
	margin: 100px 0 0 0;
	padding: 0 10px;
	border: none;
	width: 100%;
	box-sizing: border-box;
	background-color: #FFFFFF;
}

@media (min-width: 768px) {
	.sidebar-nav {
		position: fixed;
		top: 51px;
		left: 225px;
		width: 225px;
		margin-left: -225px;
		overflow-y: auto;
		overflow-x: hidden;
		bottom: 0;
		padding-bottom: 40px;
		
	}

	.sidebar-nav > li > a {
		width: 225px;
	}

	#page-wrapper {
		margin: 50px 0 0 225px;
		padding: 0 0 0 0px;
	}
}

.navbar-default .navbar-nav > li:hover,
.navbar-default .navbar-nav > li:focus {
	background-color: #F0F0F0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav .active > a:hover,
.navbar-default .navbar-nav .active > a:focus {
	color: #286192;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav .active > a
 {
	color: #337AB7;
}

.sidebar-nav li {
	border-bottom: 1px solid #E7E7E7;
}

.sidebar-toggle-lg {
	position: absolute;
	top: 50%;
	transform: translate(70px, -50%);
	padding: 18px 15px;
}

.sidebar-toggle-sm {
	position: absolute;
	top: 50%;
	transform: translate(10px, -50%);
	padding: 18px 8px;
}

.sidebar-sm {
	position: fixed;
	top: 51px;
	left: 70px;
	width: 70px;
	margin-left: -70px;
	overflow-y: auto;
	overflow-x: hidden;
	bottom: 0;
	padding-bottom: 40px;
}

.sidebar-sm > li > a {
	width: 70px;
}

.sidebar-sm {
	border-right: 1px solid #E7E7E7;
	background-color: #F8F8F8;
}

.sidebar-sm li {
	border-bottom: 1px solid #E7E7E7;
}